@font-face {
  font-family: Proxima Nova Alt;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url('/fonts/ProximaNovaAltRegular.woff2') format('woff2'), url('/fonts/ProximaNovaAltRegular.woff2') format('woff')
;
}
@font-face {
  font-family: Proxima Nova Alt;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    url('/fonts/ProximaNovaAltLight.woff2') format('woff2'), url('/fonts/ProximaNovaAltRegular.woff') format('woff')
;
}
@font-face {
  font-family: Proxima Nova Alt;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url('/fonts/ProximaNovaAltBold.woff2') format('woff2'), url('/fonts/ProximaNovaAltBold.woff') format('woff')
;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
h3 {
  line-height: 1.1;
}
iframe {
  width: 100%;
}
.img-responsive {
  width: 100%;
  display: block;
  max-width: 100%;
}
