.search-tags-container {
  display: flex;
  padding: 0 32px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 74px;
  overflow: auto;
}
.search-tags-container > span {
  cursor: pointer;
  padding: 12px 32px;
  margin-right: 20px;
  margin-top: 24px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #fefefe;
  box-shadow: 4px 4px 30px 1px rgba(0, 0, 0, 0.025);
}
span.active {
  color: #fefefe;
  background-color: #5eaeb2;
}
.search-tags-container > span:nth-child(5n + 1) {
  color: #ddb195;
}
.search-tags-container > span:nth-child(5n + 2) {
  color: #d4c48a;
}
.search-tags-container > span:nth-child(5n + 3) {
  color: #a0c4d0;
}
.search-tags-container > span:nth-child(5n + 4) {
  color: #a992ab;
}
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .search-tags-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow: scroll;
  }
  .search-tags-container > span {
    padding: 8px 24px;
    font-size: 0.8rem;
  }
}
