@media (max-width: 899px) {
  .filters-button {
    align-items: center;
    background-color: #333;
    border: none;
    border-radius: 8px;
    bottom: 2rem;
    box-shadow: 0 4px 22px 0 #333;
    color: #fff;
    cursor: pointer;
    display: flex;
    font: inherit;
    font-size: 0.875rem;
    font-weight: bold;
    justify-content: center;
    left: 50%;
    min-height: 40px;
    min-width: 112px;
    position: fixed;
    transform: translateX(-50%);
  }
  .filters-button svg {
    height: 14px;
    margin-right: 8px;
    width: 16px;
  }
}
